:root {
  --primary-text-color: rgba(0, 0, , 0.8);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --color-nav-adress: #757575;
}

body {
  background-color: var(--primary-text-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
}

/* button  */
.hero-button {
  color: var(--primary-white-color);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: block;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  padding: 10px 32px;
  margin: 0 auto;
}

.button-first:hover,
.button-first:focus {
}

/* утилита */
.nav-port {
  margin-top: 0;
  margin-bottom: 0;
}

/* Убираем маркеры */
li {
  list-style-type: none;
}
ul {
  padding: 0px;
  margin: 0px;
}
address {
  font-style: normal;
}

.section-item {
  color: #757575;
}

.ingredient {
  color: #2196f3;
}
.container {
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

.logo-footer{
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo {
  
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

.page-header-port {
  margin-top: 0;
  margin-bottom: 0;
}

/* main nav */
.page-header .container {
  display: flex;
  align-items: center;
}

/* site nav */

.site-nav {
display: flex;
align-items: center;
justify-content: flex-start;
margin-left: 93px;
}

.site-nav .item {
  /* background-color: tomato; */
  /* margin-right: 40px; */
}

.site-nav .item + .item {
  margin-left: 40px;
}
/* .site-nav .item:not( :last-child) {
  margin-right: 40px;
} */
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}
.nav-list {
  display: flex;
  margin-left: auto;
}
/* nav */
.nav {
  display: flex;
  margin-left: auto;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.nav-list .item + .item {
  margin-left: 50px;
}

.nav-footer:hover,
.nav-footer
.nav:hover:focus {
  color: var(--accent-color);
}

.nav:hover,
.nav:focus {
  color: var(--accent-color);
}

.nav:focus {
  color: var(--accent-color);
}

.nav-adress {
  color: var(--primary-white-color);
  text-decoration: none;
}

.nav-footer {
  color: var(--color-nav-adress);
  text-decoration: none;
}

/* Hero */
.hero {
 background: #2F303A;
 height: 600px;
}

.hero-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin: 0 auto;
  margin-bottom:  40px;
}

/* Section */
.section-item {
  padding-top: 0;
  padding-bottom: 0;
   margin-bottom: 0;
}
.section-benefits {
  margin-top: 59px;
  margin-bottom:  100px;
}
.section-list-header {
margin-top: 0;
margin-bottom: 10;
}
.section-list {
  display: flex;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.section-list .item + .item {
  margin-left: 30px;

  }

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 60;
}
.non-pading {
display: flex;
  margin-bottom: 0;
}
.non-pading .item + .item {
  margin-left: 30px;
}
/* Testimonial */
.teachers {
  display: flex;
}

.teachers .item + .item {
  margin-left: 30px;
}
.teachers .item {
  text-align: center;
}


.section-testimonial{
  margin-top: 188px;
  
}

/* footer */
.footer {
  margin-top: 94px;
background: #2F303A;
 height: 252px;
 }
/* port */
.list-port {
  text-align: center;
  margin: 0 auto;
  margin-bottom:  94px;
}

/* portfolio flex */
.filter {
  display: flex;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* background-color: teal; */
}
 .portfolio-item {
    width: 370px;
    /* background-color: tomato; */
    margin-right: 30px;

}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}


/* button portfolio */
